alfa-dashboard/n8n/workflows/iana-monitoring.json
{
  "name": "iana-monitoring",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monitoring",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-monitoring",
      "name": "Webhook Monitoring",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "iana-monitoring-crud"
    },
    {
      "parameters": {
        "jsCode": "// Validation commune AVANT Switch\nconst body = $input.first().json.body || $input.first().json;\nconst { action, data, user_id, channel } = body;\n\n// Validation action\nif (!action) {\n  throw new Error('VALIDATION_ERROR: action is required');\n}\n\n// Validation user_id\nif (!user_id) {\n  throw new Error('VALIDATION_ERROR: user_id is required');\n}\n\n// Validation actions valides\nconst validActions = ['query', 'alert', 'dashboard', 'status'];\nif (!validActions.includes(action)) {\n  throw new Error(`VALIDATION_ERROR: action must be one of: ${validActions.join(', ')}`);\n}\n\n// Ajouter metadata\nreturn [{\n  json: {\n    action: action,\n    data: data || {},\n    user_id: user_id,\n    channel: channel || 'api',\n    _meta: {\n      startTime: Date.now(),\n      requestId: `${user_id}-${Date.now()}`\n    }\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "create"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "read"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "update"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "delete"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "list"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "test"
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: create\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Validation\nif (!data.name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.name is required for create',\n      action: 'create'\n    }\n  }];\n}\n\nif (!data.type) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.type is required for create',\n      action: 'create'\n    }\n  }];\n}\n\nif (!data.data) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.data is required for create',\n      action: 'create'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'create',\n    credentialData: {\n      name: data.name,\n      type: data.type,\n      data: data.data,\n      nodesAccess: data.nodesAccess || []\n    },\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-create",
      "name": "Create Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        100
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials",
        "method": "POST",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.credentialData) }}"
      },
      "id": "api-create",
      "name": "API Create Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: read\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.id is required for read',\n      action: 'read'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'read',\n    credentialId: data.id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-read",
      "name": "Read Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials/{{ $json.credentialId }}",
        "method": "GET",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "api-read",
      "name": "API Read Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: update\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.id is required for update',\n      action: 'update'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update',\n    credentialId: data.id,\n    credentialData: {\n      name: data.name,\n      type: data.type,\n      data: data.data,\n      nodesAccess: data.nodesAccess\n    },\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-update",
      "name": "Update Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials/{{ $json.credentialId }}",
        "method": "PUT",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.credentialData) }}"
      },
      "id": "api-update",
      "name": "API Update Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: delete\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.id is required for delete',\n      action: 'delete'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'delete',\n    credentialId: data.id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-delete",
      "name": "Delete Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        400
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials/{{ $json.credentialId }}",
        "method": "DELETE",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "api-delete",
      "name": "API Delete Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: list\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    filters: {\n      filter: data.filter || null\n    },\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-list",
      "name": "List Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        500
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials",
        "method": "GET",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "api-list",
      "name": "API List Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: test\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.id is required for test',\n      action: 'test'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'test',\n    credentialId: data.id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-test",
      "name": "Test Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        600
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials/{{ $json.credentialId }}/test",
        "method": "POST",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true
      },
      "id": "api-test",
      "name": "API Test Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        600
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1350,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT iana.log_operation($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11) as log_id",
        "additionalFields": {
          "queryParameters": "={{ ['iana-credential', $json.action, $json.user_id, $json.channel || 'api', JSON.stringify($json.data || {}), JSON.stringify($json), $json.success !== false, $json.errorCode || null, $json.errorMessage || null, Date.now() - ($json._meta?.startTime || Date.now()), $json._meta?.requestId || null] }}"
        },
        "options": {}
      },
      "id": "log-operation",
      "name": "Log Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1570,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Response Standardis\u00e9e\nconst input = $input.first().json;\nconst validation = $('Validate Input').first().json;\nconst startTime = validation._meta?.startTime || Date.now();\n\n// Success case\nif (input.success !== false && !input.isError) {\n  return [{\n    json: {\n      success: true,\n      action: validation.action,\n      data: input.data || input,\n      error: null,\n      meta: {\n        latency_ms: Date.now() - startTime,\n        timestamp: new Date().toISOString(),\n        request_id: validation._meta?.requestId\n      }\n    }\n  }];\n}\n\n// Error case\nreturn [{\n  json: {\n    success: false,\n    action: validation.action,\n    data: null,\n    error: {\n      code: input.errorCode || 'UNKNOWN_ERROR',\n      message: input.errorMessage || input.message || 'An error occurred'\n    },\n    meta: {\n      latency_ms: Date.now() - startTime,\n      timestamp: new Date().toISOString(),\n      request_id: validation._meta?.requestId\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2010,
        350
      ]
    }
  ],
  "connections": {
    "Webhook Credential": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Operation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credential": {
      "main": [
        [
          {
            "node": "API Create Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Create Credential": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Credential": {
      "main": [
        [
          {
            "node": "API Read Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Read Credential": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Credential": {
      "main": [
        [
          {
            "node": "API Update Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Update Credential": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Credential": {
      "main": [
        [
          {
            "node": "API Delete Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Delete Credential": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Credentials": {
      "main": [
        [
          {
            "node": "API List Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API List Credentials": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Credential": {
      "main": [
        [
          {
            "node": "API Test Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Test Credential": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "Infrastructure"
    },
    {
      "name": "P2"
    },
    {
      "name": "Monitoring"
    }
  ],
  "active": false
}