alfa-dashboard/n8n/workflows/iana-postgres.json
{
  "name": "iana-postgres",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "postgres",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-postgres",
      "name": "Webhook Postgres",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "iana-postgres-crud"
    },
    {
      "parameters": {
        "jsCode": "// Validation commune AVANT Switch\nconst body = $input.first().json.body || $input.first().json;\nconst { action, data, user_id, channel } = body;\n\n// Validation action\nif (!action) {\n  throw new Error('VALIDATION_ERROR: action is required');\n}\n\n// Validation user_id\nif (!user_id) {\n  throw new Error('VALIDATION_ERROR: user_id is required');\n}\n\n// Validation actions valides\nconst validActions = ['create', 'read', 'update', 'delete', 'list', 'search', 'chunk'];\nif (!validActions.includes(action)) {\n  throw new Error(`VALIDATION_ERROR: action must be one of: ${validActions.join(', ')}`);\n}\n\n// Ajouter metadata\nreturn [{\n  json: {\n    action: action,\n    data: data || {},\n    user_id: user_id,\n    channel: channel || 'api',\n    _meta: {\n      startTime: Date.now(),\n      requestId: `${user_id}-${Date.now()}`\n    }\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "create"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "read"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "update"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "delete"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "list"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "search"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "chunk"
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: create\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Validation data pour create\nif (!data.title) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.title is required for create',\n      action: 'create'\n    }\n  }];\n}\n\nif (!data.content) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.content is required for create',\n      action: 'create'\n    }\n  }];\n}\n\n// Pr\u00e9parer donn\u00e9es pour insertion\nconst documentData = {\n  title: data.title,\n  content: data.content,\n  source_type: data.source_type || 'markdown',\n  source_path: data.source_path || null,\n  metadata: data.metadata || {},\n  project: data.project || 'ALFA',\n  category: data.category || null,\n  priority: data.priority || 'P2'\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'create',\n    documentData: documentData,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-create",
      "name": "Create Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.ingest_document(\n  $1::text,  -- title\n  $2::text,  -- content\n  $3::text,  -- source_type\n  $4::text,  -- source_path\n  $5::jsonb, -- metadata\n  $6::text,  -- project\n  $7::text,  -- category\n  $8::text   -- priority\n) AS document_id",
        "additionalFields": {
          "queryParameters": "={{ [$json.documentData.title, $json.documentData.content, $json.documentData.source_type, $json.documentData.source_path, JSON.stringify($json.documentData.metadata), $json.documentData.project, $json.documentData.category, $json.documentData.priority] }}"
        },
        "options": {}
      },
      "id": "db-create",
      "name": "DB Create",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: read\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.document_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.document_id is required for read',\n      action: 'read'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'read',\n    document_id: data.document_id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-read",
      "name": "Read Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, source_type, source_path, content_raw, content_length, metadata, project, category, priority, status, created_at, updated_at, indexed_at\nFROM rag.documents\nWHERE id = $1::uuid",
        "additionalFields": {
          "queryParameters": "={{ [$json.document_id] }}"
        },
        "options": {}
      },
      "id": "db-read",
      "name": "DB Read",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: update\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.document_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.document_id is required for update',\n      action: 'update'\n    }\n  }];\n}\n\n// Pr\u00e9parer donn\u00e9es pour update\nconst updateData = {\n  document_id: data.document_id,\n  title: data.title || null,\n  content: data.content || null,\n  metadata: data.metadata || null,\n  category: data.category || null,\n  status: data.status || null\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update',\n    updateData: updateData,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-update",
      "name": "Update Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.documents\nSET \n  title = COALESCE($1::text, title),\n  content_raw = COALESCE($2::text, content_raw),\n  content_length = CASE WHEN $2::text IS NOT NULL THEN length($2::text) ELSE content_length END,\n  metadata = COALESCE($3::jsonb, metadata),\n  category = COALESCE($4::text, category),\n  status = COALESCE($5::text, status),\n  updated_at = NOW()\nWHERE id = $6::uuid\nRETURNING id, title, updated_at",
        "additionalFields": {
          "queryParameters": "={{ [$json.updateData.title, $json.updateData.content, $json.updateData.metadata ? JSON.stringify($json.updateData.metadata) : null, $json.updateData.category, $json.updateData.status, $json.updateData.document_id] }}"
        },
        "options": {}
      },
      "id": "db-update",
      "name": "DB Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: delete\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.document_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.document_id is required for delete',\n      action: 'delete'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'delete',\n    document_id: data.document_id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-delete",
      "name": "Delete Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM rag.documents WHERE id = $1::uuid RETURNING id",
        "additionalFields": {
          "queryParameters": "={{ [$json.document_id] }}"
        },
        "options": {}
      },
      "id": "db-delete",
      "name": "DB Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: list\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Pr\u00e9parer filtres pour list\nconst filters = {\n  project: data.project || null,\n  category: data.category || null,\n  status: data.status || null,\n  limit: data.limit || 50,\n  offset: data.offset || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    filters: filters,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-list",
      "name": "List Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, source_type, source_path, content_length, metadata, project, category, priority, status, created_at, updated_at\nFROM rag.documents\nWHERE ($1::text IS NULL OR project = $1)\n  AND ($2::text IS NULL OR category = $2)\n  AND ($3::text IS NULL OR status = $3)\nORDER BY created_at DESC\nLIMIT $4 OFFSET $5",
        "additionalFields": {
          "queryParameters": "={{ [$json.filters.project, $json.filters.category, $json.filters.status, $json.filters.limit, $json.filters.offset] }}"
        },
        "options": {}
      },
      "id": "db-list",
      "name": "DB List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: search\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.query) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.query is required for search',\n      action: 'search'\n    }\n  }];\n}\n\n// Pr\u00e9parer recherche\nconst searchParams = {\n  query: data.query,\n  limit: data.limit || 10,\n  offset: data.offset || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'search',\n    searchParams: searchParams,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-search",
      "name": "Search Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id AS chunk_id, c.content, c.chunk_index, d.id AS document_id, d.title AS document_title\nFROM rag.chunks c\nJOIN rag.documents d ON d.id = c.document_id\nWHERE to_tsvector('french', c.content) @@ plainto_tsquery('french', $1::text)\nORDER BY ts_rank(to_tsvector('french', c.content), plainto_tsquery('french', $1::text)) DESC\nLIMIT $2 OFFSET $3",
        "additionalFields": {
          "queryParameters": "={{ [$json.searchParams.query, $json.searchParams.limit, $json.searchParams.offset] }}"
        },
        "options": {}
      },
      "id": "db-search",
      "name": "DB Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: chunk\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.document_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.document_id is required for chunk',\n      action: 'chunk'\n    }\n  }];\n}\n\n// Pr\u00e9parer param\u00e8tres de chunking\nconst chunkParams = {\n  document_id: data.document_id,\n  chunk_size: data.chunk_size || 1000,\n  overlap: data.overlap || 200\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'chunk',\n    chunkParams: chunkParams,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-chunk",
      "name": "Chunk Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.chunk_document(\n  $1::uuid,  -- document_id\n  $2::integer,  -- chunk_size\n  $3::integer   -- overlap\n) AS chunk_count",
        "additionalFields": {
          "queryParameters": "={{ [$json.chunkParams.document_id, $json.chunkParams.chunk_size, $json.chunkParams.overlap] }}"
        },
        "options": {}
      },
      "id": "db-chunk",
      "name": "DB Chunk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1350,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT iana.log_operation($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11) as log_id",
        "additionalFields": {
          "queryParameters": "={{ ['iana-rag-document', $json.action, $json.user_id, $json.channel || 'api', JSON.stringify($json.data || {}), JSON.stringify($json), $json.success !== false, $json.errorCode || null, $json.errorMessage || null, Date.now() - ($json._meta?.startTime || Date.now()), $json._meta?.requestId || null] }}"
        },
        "options": {}
      },
      "id": "log-operation",
      "name": "Log Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1570,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Response Standardis\u00e9e\nconst input = $input.first().json;\nconst validation = $('Validate Input').first().json;\nconst startTime = validation._meta?.startTime || Date.now();\n\n// Success case\nif (input.success !== false && !input.isError) {\n  return [{\n    json: {\n      success: true,\n      action: validation.action,\n      data: input.data || input,\n      error: null,\n      meta: {\n        latency_ms: Date.now() - startTime,\n        timestamp: new Date().toISOString(),\n        request_id: validation._meta?.requestId\n      }\n    }\n  }];\n}\n\n// Error case\nreturn [{\n  json: {\n    success: false,\n    action: validation.action,\n    data: null,\n    error: {\n      code: input.errorCode || 'UNKNOWN_ERROR',\n      message: input.errorMessage || input.message || 'An error occurred'\n    },\n    meta: {\n      latency_ms: Date.now() - startTime,\n      timestamp: new Date().toISOString(),\n      request_id: validation._meta?.requestId\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2010,
        400
      ]
    }
  ],
  "connections": {
    "Webhook RAG Document": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunk Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Operation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document": {
      "main": [
        [
          {
            "node": "DB Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Create": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Document": {
      "main": [
        [
          {
            "node": "DB Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Read": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document": {
      "main": [
        [
          {
            "node": "DB Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Update": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Document": {
      "main": [
        [
          {
            "node": "DB Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Delete": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "main": [
        [
          {
            "node": "DB List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB List": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Documents": {
      "main": [
        [
          {
            "node": "DB Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Search": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Document": {
      "main": [
        [
          {
            "node": "DB Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Chunk": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "Infrastructure"
    },
    {
      "name": "P0"
    },
    {
      "name": "PostgreSQL"
    }
  ],
  "active": false
}