alfa-dashboard/n8n/workflows/iana-tool.json
{
  "name": "iana-tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-tool",
      "name": "Webhook Tool",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "iana-tool-crud"
    },
    {
      "parameters": {
        "jsCode": "// Validation commune AVANT Switch\nconst body = $input.first().json.body || $input.first().json;\nconst { action, data, user_id, channel } = body;\n\n// Validation action\nif (!action) {\n  throw new Error('VALIDATION_ERROR: action is required');\n}\n\n// Validation user_id\nif (!user_id) {\n  throw new Error('VALIDATION_ERROR: user_id is required');\n}\n\n// Validation actions valides\nconst validActions = ['create', 'read', 'update', 'delete', 'list', 'search', 'execute'];\nif (!validActions.includes(action)) {\n  throw new Error(`VALIDATION_ERROR: action must be one of: ${validActions.join(', ')}`);\n}\n\n// Ajouter metadata\nreturn [{\n  json: {\n    action: action,\n    data: data || {},\n    user_id: user_id,\n    channel: channel || 'api',\n    _meta: {\n      startTime: Date.now(),\n      requestId: `${user_id}-${Date.now()}`\n    }\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "create"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "read"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "update"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "delete"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "list"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "search"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "execute"
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Action: create\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Validation\nif (!data.server_name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.server_name is required for create',\n      action: 'create'\n    }\n  }];\n}\n\nif (!data.tool_name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.tool_name is required for create',\n      action: 'create'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'create',\n    toolData: {\n      server_name: data.server_name,\n      tool_name: data.tool_name,\n      description_short: data.description_short || null,\n      description_full: data.description_full || null,\n      category: data.category || null,\n      parameters: data.parameters || {},\n      examples: data.examples || []\n    },\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-create",
      "name": "Create Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.index_mcp_tool(\n  $1::text,  -- server_name\n  $2::text,  -- tool_name\n  $3::text,  -- description_short\n  $4::text,  -- description_full\n  $5::text,  -- category\n  $6::jsonb, -- parameters\n  $7::jsonb  -- examples\n) AS tool_id",
        "additionalFields": {
          "queryParameters": "={{ [$json.toolData.server_name, $json.toolData.tool_name, $json.toolData.description_short, $json.toolData.description_full, $json.toolData.category, JSON.stringify($json.toolData.parameters), JSON.stringify($json.toolData.examples)] }}"
        },
        "options": {}
      },
      "id": "db-create",
      "name": "DB Create Tool",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: read\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.server_name || !data.tool_name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.server_name and data.tool_name are required for read',\n      action: 'read'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'read',\n    server_name: data.server_name,\n    tool_name: data.tool_name,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-read",
      "name": "Read Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rag.get_mcp_tool_details($1::text, $2::text)",
        "additionalFields": {
          "queryParameters": "={{ [$json.server_name, $json.tool_name] }}"
        },
        "options": {}
      },
      "id": "db-read",
      "name": "DB Read Tool",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: update\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.server_name || !data.tool_name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.server_name and data.tool_name are required for update',\n      action: 'update'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update',\n    toolData: {\n      server_name: data.server_name,\n      tool_name: data.tool_name,\n      description_short: data.description_short || null,\n      description_full: data.description_full || null,\n      category: data.category || null,\n      parameters: data.parameters || null,\n      examples: data.examples || null\n    },\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-update",
      "name": "Update Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.index_mcp_tool(\n  $1::text,\n  $2::text,\n  $3::text,\n  $4::text,\n  $5::text,\n  COALESCE($6::jsonb, (SELECT parameters FROM rag.mcp_tools t JOIN rag.mcp_servers s ON s.id = t.server_id WHERE s.name = $1 AND t.tool_name = $2)),\n  COALESCE($7::jsonb, (SELECT examples FROM rag.mcp_tools t JOIN rag.mcp_servers s ON s.id = t.server_id WHERE s.name = $1 AND t.tool_name = $2))\n) AS tool_id",
        "additionalFields": {
          "queryParameters": "={{ [$json.toolData.server_name, $json.toolData.tool_name, $json.toolData.description_short, $json.toolData.description_full, $json.toolData.category, $json.toolData.parameters ? JSON.stringify($json.toolData.parameters) : null, $json.toolData.examples ? JSON.stringify($json.toolData.examples) : null] }}"
        },
        "options": {}
      },
      "id": "db-update",
      "name": "DB Update Tool",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: delete\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.server_name || !data.tool_name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.server_name and data.tool_name are required for delete',\n      action: 'delete'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'delete',\n    server_name: data.server_name,\n    tool_name: data.tool_name,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-delete",
      "name": "Delete Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM rag.mcp_tools t\nUSING rag.mcp_servers s\nWHERE t.server_id = s.id\n  AND s.name = $1::text\n  AND t.tool_name = $2::text\nRETURNING t.id AS tool_id",
        "additionalFields": {
          "queryParameters": "={{ [$json.server_name, $json.tool_name] }}"
        },
        "options": {}
      },
      "id": "db-delete",
      "name": "DB Delete Tool",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: list\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nconst filters = {\n  server_name: data.server_name || null,\n  category: data.category || null,\n  limit: data.limit || 50,\n  offset: data.offset || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    filters: filters,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-list",
      "name": "List Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, s.name AS server_name, t.tool_name, t.description_short, t.category, t.usage_count, t.created_at\nFROM rag.mcp_tools t\nJOIN rag.mcp_servers s ON s.id = t.server_id\nWHERE ($1::text IS NULL OR s.name = $1)\n  AND ($2::text IS NULL OR t.category = $2)\nORDER BY t.usage_count DESC, t.created_at DESC\nLIMIT $3 OFFSET $4",
        "additionalFields": {
          "queryParameters": "={{ [$json.filters.server_name, $json.filters.category, $json.filters.limit, $json.filters.offset] }}"
        },
        "options": {}
      },
      "id": "db-list",
      "name": "DB List Tools",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: search\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.query) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.query is required for search',\n      action: 'search'\n    }\n  }];\n}\n\nconst searchParams = {\n  query: data.query,\n  category: data.category || null,\n  limit: data.limit || 10\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'search',\n    searchParams: searchParams,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-search",
      "name": "Search Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rag.search_mcp_tools($1::text, $2::integer, $3::text)",
        "additionalFields": {
          "queryParameters": "={{ [$json.searchParams.query, $json.searchParams.limit, $json.searchParams.category] }}"
        },
        "options": {}
      },
      "id": "db-search",
      "name": "DB Search Tools",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: execute (track usage)\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.server_name || !data.tool_name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.server_name and data.tool_name are required for execute',\n      action: 'execute'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'execute',\n    server_name: data.server_name,\n    tool_name: data.tool_name,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-execute",
      "name": "Execute Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.increment_tool_usage($1::text, $2::text) AS usage_count",
        "additionalFields": {
          "queryParameters": "={{ [$json.server_name, $json.tool_name] }}"
        },
        "options": {}
      },
      "id": "db-execute",
      "name": "DB Execute Tool",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1130,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1350,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT iana.log_operation($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11) as log_id",
        "additionalFields": {
          "queryParameters": "={{ ['iana-tool', $json.action, $json.user_id, $json.channel || 'api', JSON.stringify($json.data || {}), JSON.stringify($json), $json.success !== false, $json.errorCode || null, $json.errorMessage || null, Date.now() - ($json._meta?.startTime || Date.now()), $json._meta?.requestId || null] }}"
        },
        "options": {}
      },
      "id": "log-operation",
      "name": "Log Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1570,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "5zFMgYDljFx593WZ",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Response Standardis\u00e9e\nconst input = $input.first().json;\nconst validation = $('Validate Input').first().json;\nconst startTime = validation._meta?.startTime || Date.now();\n\n// Success case\nif (input.success !== false && !input.isError) {\n  return [{\n    json: {\n      success: true,\n      action: validation.action,\n      data: input.data || input,\n      error: null,\n      meta: {\n        latency_ms: Date.now() - startTime,\n        timestamp: new Date().toISOString(),\n        request_id: validation._meta?.requestId\n      }\n    }\n  }];\n}\n\n// Error case\nreturn [{\n  json: {\n    success: false,\n    action: validation.action,\n    data: null,\n    error: {\n      code: input.errorCode || 'UNKNOWN_ERROR',\n      message: input.errorMessage || input.message || 'An error occurred'\n    },\n    meta: {\n      latency_ms: Date.now() - startTime,\n      timestamp: new Date().toISOString(),\n      request_id: validation._meta?.requestId\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2010,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Tool": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Tools",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Tools",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Operation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tool": {
      "main": [
        [
          {
            "node": "DB Create Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Create Tool": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tool": {
      "main": [
        [
          {
            "node": "DB Read Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Read Tool": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tool": {
      "main": [
        [
          {
            "node": "DB Update Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Update Tool": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Tool": {
      "main": [
        [
          {
            "node": "DB Delete Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Delete Tool": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Tools": {
      "main": [
        [
          {
            "node": "DB List Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB List Tools": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Tools": {
      "main": [
        [
          {
            "node": "DB Search Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Search Tools": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tool": {
      "main": [
        [
          {
            "node": "DB Execute Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Execute Tool": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "CRUD"
    },
    {
      "name": "MCP"
    }
  ],
  "active": false
}