alfa-dashboard/n8n/workflows/iana-conversation.json
{
  "name": "iana-conversation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-conversation",
      "name": "Webhook Conversation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "iana-conversation-crud"
    },
    {
      "parameters": {
        "jsCode": "// Validation commune AVANT Switch\nconst body = $input.first().json.body || $input.first().json;\nconst { action, data, user_id, channel } = body;\n\n// Validation action\nif (!action) {\n  throw new Error('VALIDATION_ERROR: action is required');\n}\n\n// Validation user_id\nif (!user_id) {\n  throw new Error('VALIDATION_ERROR: user_id is required');\n}\n\n// Validation actions valides\nconst validActions = ['create', 'read', 'update', 'delete', 'list', 'close'];\nif (!validActions.includes(action)) {\n  throw new Error(`VALIDATION_ERROR: action must be one of: ${validActions.join(', ')}`);\n}\n\n// Ajouter metadata\nreturn [{\n  json: {\n    action: action,\n    data: data || {},\n    user_id: user_id,\n    channel: channel || 'api',\n    _meta: {\n      startTime: Date.now(),\n      requestId: `${user_id}-${Date.now()}`\n    }\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "create"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "read"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "update"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "delete"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "list"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "close"
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Action: create\nconst input = $input.first().json;\nconst { data, user_id, channel } = input;\n\n// Validation data pour create\nif (!data.user_id && !user_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.user_id or user_id is required for create',\n      action: 'create'\n    }\n  }];\n}\n\n// Préparer données pour insertion\nconst conversationData = {\n  user_id: data.user_id || user_id,\n  channel: data.channel || channel || 'api',\n  session_id: data.session_id || null,\n  metadata: data.metadata || {}\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'create',\n    conversationData: conversationData,\n    user_id: user_id,\n    channel: channel\n  }\n}];"
      },
      "id": "action-create",
      "name": "Create Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO iana.conversations (user_id, channel, session_id, metadata) VALUES ($1, $2, $3, $4::jsonb) RETURNING conversation_id, user_id, channel, started_at, last_message_at, message_count",
        "additionalFields": {
          "queryParameters": "={{ [$json.conversationData.user_id, $json.conversationData.channel, $json.conversationData.session_id, JSON.stringify($json.conversationData.metadata)] }}"
        },
        "options": {}
      },
      "id": "db-create",
      "name": "DB Create",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 100],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: read\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.conversation_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.conversation_id is required for read',\n      action: 'read'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'read',\n    conversation_id: data.conversation_id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-read",
      "name": "Read Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_id, user_id, channel, session_id, started_at, last_message_at, message_count, total_tokens, total_cost_usd, metadata, created_at, updated_at FROM iana.conversations WHERE conversation_id = $1",
        "additionalFields": {
          "queryParameters": "={{ [$json.conversation_id] }}"
        },
        "options": {}
      },
      "id": "db-read",
      "name": "DB Read",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: update\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.conversation_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.conversation_id is required for update',\n      action: 'update'\n    }\n  }];\n}\n\n// Préparer données pour update\nconst updateData = {\n  conversation_id: data.conversation_id,\n  metadata: data.metadata || null,\n  session_id: data.session_id || null\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update',\n    updateData: updateData,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-update",
      "name": "Update Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE iana.conversations SET metadata = COALESCE($1::jsonb, metadata), session_id = COALESCE($2, session_id), updated_at = NOW() WHERE conversation_id = $3 RETURNING conversation_id, user_id, channel, updated_at",
        "additionalFields": {
          "queryParameters": "={{ [$json.updateData.metadata ? JSON.stringify($json.updateData.metadata) : null, $json.updateData.session_id, $json.updateData.conversation_id] }}"
        },
        "options": {}
      },
      "id": "db-update",
      "name": "DB Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: delete\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.conversation_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.conversation_id is required for delete',\n      action: 'delete'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'delete',\n    conversation_id: data.conversation_id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-delete",
      "name": "Delete Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM iana.conversations WHERE conversation_id = $1 RETURNING conversation_id",
        "additionalFields": {
          "queryParameters": "={{ [$json.conversation_id] }}"
        },
        "options": {}
      },
      "id": "db-delete",
      "name": "DB Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: list\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Préparer filtres pour list\nconst filters = {\n  user_id: data.user_id || user_id || null,\n  channel: data.channel || null,\n  limit: data.limit || 50,\n  offset: data.offset || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    filters: filters,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-list",
      "name": "List Conversations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_id, user_id, channel, session_id, started_at, last_message_at, message_count, total_tokens, total_cost_usd, metadata, created_at FROM iana.conversations WHERE ($1::text IS NULL OR user_id = $1) AND ($2::text IS NULL OR channel = $2) ORDER BY last_message_at DESC LIMIT $3 OFFSET $4",
        "additionalFields": {
          "queryParameters": "={{ [$json.filters.user_id, $json.filters.channel, $json.filters.limit, $json.filters.offset] }}"
        },
        "options": {}
      },
      "id": "db-list",
      "name": "DB List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Action: close\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.conversation_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.conversation_id is required for close',\n      action: 'close'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'close',\n    conversation_id: data.conversation_id,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-close",
      "name": "Close Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE iana.conversations SET metadata = jsonb_set(COALESCE(metadata, '{}'::jsonb), '{status}', '\"closed\"'::jsonb), updated_at = NOW() WHERE conversation_id = $1 RETURNING conversation_id, updated_at",
        "additionalFields": {
          "queryParameters": "={{ [$json.conversation_id] }}"
        },
        "options": {}
      },
      "id": "db-close",
      "name": "DB Close",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1350, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT iana.log_operation($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11) as log_id",
        "additionalFields": {
          "queryParameters": "={{ ['iana-conversation', $json.action, $json.user_id, $json.channel || 'api', JSON.stringify($json.data || {}), JSON.stringify($json), $json.success !== false, $json.errorCode || null, $json.errorMessage || null, Date.now() - ($json._meta?.startTime || Date.now()), $json._meta?.requestId || null] }}"
        },
        "options": {}
      },
      "id": "log-operation",
      "name": "Log Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1570, 350],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Response Standardisée\nconst input = $input.first().json;\nconst validation = $('Validate Input').first().json;\nconst startTime = validation._meta?.startTime || Date.now();\n\n// Success case\nif (input.success !== false && !input.isError) {\n  return [{\n    json: {\n      success: true,\n      action: validation.action,\n      data: input.data || input,\n      error: null,\n      meta: {\n        latency_ms: Date.now() - startTime,\n        timestamp: new Date().toISOString(),\n        request_id: validation._meta?.requestId\n      }\n    }\n  }];\n}\n\n// Error case\nreturn [{\n  json: {\n    success: false,\n    action: validation.action,\n    data: null,\n    error: {\n      code: input.errorCode || 'UNKNOWN_ERROR',\n      message: input.errorMessage || input.message || 'An error occurred'\n    },\n    meta: {\n      latency_ms: Date.now() - startTime,\n      timestamp: new Date().toISOString(),\n      request_id: validation._meta?.requestId\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 350]
    },
    {
      "parameters": {},
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2010, 350]
    }
  ],
  "connections": {
    "Webhook Conversation": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation": {
      "main": [
        [
          {
            "node": "DB Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Create": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Conversation": {
      "main": [
        [
          {
            "node": "DB Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Read": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation": {
      "main": [
        [
          {
            "node": "DB Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Update": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Conversation": {
      "main": [
        [
          {
            "node": "DB Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Delete": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Conversations": {
      "main": [
        [
          {
            "node": "DB List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB List": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Conversation": {
      "main": [
        [
          {
            "node": "DB Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Close": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Operation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "CRUD"
    }
  ],
  "active": false
}
