alfa-dashboard/n8n/workflows/iana-workflow-create.json
{
  "name": "iana-workflow-create",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-workflow",
      "name": "Webhook Workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "workflow-crud"
    },
    {
      "parameters": {
        "jsCode": "// Validation commune AVANT Switch\nconst body = $input.first().json.body || $input.first().json;\nconst { action, data, user_id, channel } = body;\n\n// Validation action\nif (!action) {\n  throw new Error('VALIDATION_ERROR: action is required');\n}\n\n// Validation user_id\nif (!user_id) {\n  throw new Error('VALIDATION_ERROR: user_id is required');\n}\n\n// Validation actions valides\nconst validActions = ['create', 'read', 'update', 'delete', 'list', 'activate', 'test'];\nif (!validActions.includes(action)) {\n  throw new Error(`VALIDATION_ERROR: action must be one of: ${validActions.join(', ')}`);\n}\n\n// Ajouter metadata\nreturn [{\n  json: {\n    action: action,\n    data: data || {},\n    user_id: user_id,\n    channel: channel || 'api',\n    _meta: {\n      startTime: Date.now(),\n      requestId: `${user_id}-${Date.now()}`\n    }\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "create"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "read"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "update"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "delete"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "list"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "activate"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.action }}",
                    "operation": "equals",
                    "value2": "test"
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Action: create - Méthode 98% (Étape 1-4: Validation)\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Validation data pour create\nif (!data.name) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.name is required for create',\n      action: 'create'\n    }\n  }];\n}\n\n// Étape 1: Validation nodes (chaque node doit avoir type, id, name)\nconst nodes = data.nodes || [];\nconst nodeErrors = [];\nfor (let i = 0; i < nodes.length; i++) {\n  const node = nodes[i];\n  if (!node.type) {\n    nodeErrors.push(`Node ${i}: type is required`);\n  }\n  if (!node.id) {\n    nodeErrors.push(`Node ${i}: id is required`);\n  }\n  if (!node.name) {\n    nodeErrors.push(`Node ${i}: name is required`);\n  }\n  if (!node.position || !Array.isArray(node.position) || node.position.length !== 2) {\n    nodeErrors.push(`Node ${i}: position [x, y] is required`);\n  }\n}\n\nif (nodeErrors.length > 0) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: `Node validation failed: ${nodeErrors.join('; ')}`,\n      action: 'create'\n    }\n  }];\n}\n\n// Étape 2: Validation connections\nconst connections = data.connections || {};\nconst nodeIds = new Set(nodes.map(n => n.id));\nconst connectionErrors = [];\nfor (const [sourceNodeId, connectionData] of Object.entries(connections)) {\n  if (!nodeIds.has(sourceNodeId)) {\n    connectionErrors.push(`Connection from unknown node: ${sourceNodeId}`);\n  }\n  if (connectionData.main) {\n    for (const branch of connectionData.main) {\n      for (const link of branch) {\n        if (link.node && !nodeIds.has(link.node)) {\n          connectionErrors.push(`Connection to unknown node: ${link.node}`);\n        }\n      }\n    }\n  }\n}\n\nif (connectionErrors.length > 0) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: `Connection validation failed: ${connectionErrors.join('; ')}`,\n      action: 'create'\n    }\n  }];\n}\n\n// Étape 3: Validation expressions (détecter {{ }} mal formés)\nconst expressionErrors = [];\nconst expressionRegex = /\\{\\{[^}]*\\}\\}/g;\nfor (const node of nodes) {\n  const nodeStr = JSON.stringify(node);\n  const matches = nodeStr.match(expressionRegex);\n  if (matches) {\n    for (const match of matches) {\n      // Vérifier que l'expression est bien fermée\n      const openCount = (match.match(/\\{\\{/g) || []).length;\n      const closeCount = (match.match(/\\}\\}/g) || []).length;\n      if (openCount !== closeCount) {\n        expressionErrors.push(`Node ${node.name}: malformed expression ${match}`);\n      }\n    }\n  }\n}\n\nif (expressionErrors.length > 0) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: `Expression validation failed: ${expressionErrors.join('; ')}`,\n      action: 'create'\n    }\n  }];\n}\n\n// Étape 4: Préparer workflow pour création\nconst workflowData = {\n  name: data.name,\n  nodes: nodes,\n  connections: connections,\n  settings: data.settings || { executionOrder: 'v1' },\n  staticData: data.staticData || null,\n  tags: data.tags || []\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'create',\n    workflowData: workflowData,\n    user_id: user_id,\n    validation: {\n      nodes_validated: nodes.length,\n      connections_validated: Object.keys(connections).length,\n      expressions_checked: true\n    }\n  }\n}];"
      },
      "id": "action-create",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 100]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.workflowData) }}",
        "options": {}
      },
      "id": "api-create",
      "name": "API Create Workflow (Étape 5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 100]
    },
    {
      "parameters": {
        "jsCode": "// Étape 6: Post-validation - Vérifier que le workflow créé est valide\nconst createResponse = $input.first().json;\nconst createData = $('Create Workflow').first().json;\n\nif (!createResponse.id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'CREATE_FAILED',\n      errorMessage: createResponse.message || 'Failed to create workflow',\n      action: 'create'\n    }\n  }];\n}\n\n// Vérifier que le workflow créé a les mêmes nodes\nconst createdNodes = createResponse.nodes || [];\nconst expectedNodes = createData.workflowData.nodes || [];\n\nif (createdNodes.length !== expectedNodes.length) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: `Node count mismatch: expected ${expectedNodes.length}, got ${createdNodes.length}`,\n      action: 'create',\n      workflow_id: createResponse.id\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'create',\n    workflow_id: createResponse.id,\n    workflow_name: createResponse.name,\n    validation: {\n      ...createData.validation,\n      post_validation: true,\n      nodes_created: createdNodes.length\n    },\n    user_id: createData.user_id\n  }\n}];"
      },
      "id": "post-validate",
      "name": "Post-Validate Workflow (Étape 6)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "jsCode": "// Action: read\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.workflowId) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.workflowId is required for read',\n      action: 'read'\n    }\n  }];\n}\n\n// Préparer pour API REST\nreturn [{\n  json: {\n    success: true,\n    action: 'read',\n    workflowId: data.workflowId,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-read",
      "name": "Read Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            }
          ]
        },
        "options": {}
      },
      "id": "api-read",
      "name": "API Read Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "// Action: list\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\n// Préparer pour API REST\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    filters: data.filters || {},\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-list",
      "name": "List Workflows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            }
          ]
        },
        "options": {}
      },
      "id": "api-list",
      "name": "API List Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Action: update\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.workflowId) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.workflowId is required for update',\n      action: 'update'\n    }\n  }];\n}\n\n// Préparer workflow pour update\nconst workflowData = {\n  id: data.workflowId,\n  name: data.name,\n  nodes: data.nodes,\n  connections: data.connections,\n  settings: data.settings,\n  staticData: data.staticData,\n  tags: data.tags\n};\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update',\n    workflowId: data.workflowId,\n    workflowData: workflowData,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-update",
      "name": "Update Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}",
        "method": "PUT",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.workflowData) }}",
        "options": {}
      },
      "id": "api-update",
      "name": "API Update Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "jsCode": "// Action: delete\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.workflowId) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.workflowId is required for delete',\n      action: 'delete'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'delete',\n    workflowId: data.workflowId,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-delete",
      "name": "Delete Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 500]
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}",
        "method": "DELETE",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            }
          ]
        },
        "options": {}
      },
      "id": "api-delete",
      "name": "API Delete Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "jsCode": "// Action: activate\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.workflowId) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.workflowId is required for activate',\n      action: 'activate'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'activate',\n    workflowId: data.workflowId,\n    active: data.active !== false,\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-activate",
      "name": "Activate Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 600]
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/activate",
        "method": "POST",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            }
          ]
        },
        "options": {}
      },
      "id": "api-activate",
      "name": "API Activate Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 600]
    },
    {
      "parameters": {
        "jsCode": "// Action: test\nconst input = $input.first().json;\nconst { data, user_id } = input;\n\nif (!data.workflowId) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'data.workflowId is required for test',\n      action: 'test'\n    }\n  }];\n}\n\n// Préparer pour test execution\nreturn [{\n  json: {\n    success: true,\n    action: 'test',\n    workflowId: data.workflowId,\n    inputData: data.inputData || {},\n    user_id: user_id\n  }\n}];"
      },
      "id": "action-test",
      "name": "Test Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 700]
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}/execute",
        "method": "POST",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5M2RhNGJjNy1lY2ViLTQ1N2YtYTg3ZS1jYzkzODdlYjQ3MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY4MjI5MTEwfQ.E1amsEqAQESuuvc0l2qABKXtIEwbxelnoubM1vh9xnM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json.inputData) }}",
        "options": {}
      },
      "id": "api-test",
      "name": "API Test Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT iana.log_operation($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11) as log_id",
        "additionalFields": {
          "queryParameters": "={{ ['iana-workflow-create', $json.action, $json.user_id, $json.channel || 'api', JSON.stringify($json.data || {}), JSON.stringify($json), $json.success !== false, $json.errorCode || null, $json.errorMessage || null, Date.now() - ($json._meta?.startTime || Date.now()), $json._meta?.requestId || null] }}"
        }
      },
      "id": "log-operation",
      "name": "Log Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1570, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Response Standardisée\nconst input = $input.first().json;\nconst validation = $('Validate Input').first().json;\nconst startTime = validation._meta?.startTime || Date.now();\n\n// Success case\nif (input.success !== false && !input.isError) {\n  return [{\n    json: {\n      success: true,\n      action: validation.action,\n      data: input.data || input,\n      error: null,\n      meta: {\n        latency_ms: Date.now() - startTime,\n        timestamp: new Date().toISOString(),\n        request_id: validation._meta?.requestId\n      }\n    }\n  }];\n}\n\n// Error case\nreturn [{\n  json: {\n    success: false,\n    action: validation.action,\n    data: null,\n    error: {\n      code: input.errorCode || 'UNKNOWN_ERROR',\n      message: input.errorMessage || input.message || 'An error occurred'\n    },\n    meta: {\n      latency_ms: Date.now() - startTime,\n      timestamp: new Date().toISOString(),\n      request_id: validation._meta?.requestId\n    }\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 400]
    },
    {
      "parameters": {},
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2010, 400]
    }
  ],
  "connections": {
    "Webhook Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Activate Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "API Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Create Workflow (Étape 5)": {
      "main": [
        [
          {
            "node": "Post-Validate Workflow (Étape 6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Validate Workflow (Étape 6)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Workflow": {
      "main": [
        [
          {
            "node": "API Read Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Read Workflow": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows": {
      "main": [
        [
          {
            "node": "API List Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API List Workflows": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "API Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Update Workflow": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Workflow": {
      "main": [
        [
          {
            "node": "API Delete Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Delete Workflow": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Workflow": {
      "main": [
        [
          {
            "node": "API Activate Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Activate Workflow": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Workflow": {
      "main": [
        [
          {
            "node": "API Test Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Test Workflow": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Operation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "CRUD"
    },
    {
      "name": "Workflow"
    }
  ],
  "active": false
}
