alfa-dashboard/n8n/workflows/p1/46-password-reset-azure.json
{
  "name": "P1-46 Password Reset Azure AD",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "service-request"},
      "name": "Service Request Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{$json.service}}", "operation": "equals", "value2": "password_reset"}]
        }
      },
      "name": "Is Password Reset?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "service_requests",
        "columns": "requester_email,service_slug,title,description,priority"
      },
      "name": "Create Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {"postgres": {"id": "1"}}
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/users/{{$json.target_user_email}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftEntraOAuth2Api",
        "requestMethod": "PATCH",
        "jsonParameters": true,
        "bodyParametersJson": "={{JSON.stringify({passwordProfile: {forceChangePasswordNextSignIn: true, password: $json.new_password}})}}"
      },
      "name": "Reset Password Graph API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {"microsoftEntraOAuth2Api": {"id": "3"}}
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "service_requests",
        "updateKey": "id",
        "columns": "status,auto_resolution,resolved_at,resolution_notes"
      },
      "name": "Update Ticket Resolved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {"postgres": {"id": "1"}}
    },
    {
      "parameters": {
        "channel": "#service-desk",
        "text": ":white_check_mark: Password reset completed for {{$json.target_user_email}}\\n**Ticket:** {{$json.ticket_id}}"
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {"slackApi": {"id": "2"}}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({success: true, ticket_id: $json.ticket_id, message: 'Password reset successfully'})}}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Service Request Form": {"main": [[{"node": "Is Password Reset?"}]]},
    "Is Password Reset?": {"main": [[{"node": "Create Ticket"}]]},
    "Create Ticket": {"main": [[{"node": "Reset Password Graph API"}]]},
    "Reset Password Graph API": {"main": [[{"node": "Update Ticket Resolved"}]]},
    "Update Ticket Resolved": {"main": [[{"node": "Notify Slack"}]]},
    "Notify Slack": {"main": [[{"node": "Respond Success"}]]}
  },
  "active": true,
  "settings": {"timezone": "Europe/Paris"},
  "tags": ["P1", "service-desk", "azure", "password"]
}
