alfa-dashboard/n8n/workflows/p3/40-coffee-roulette.json
{
  "name": "P3-40 Coffee Roulette",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Monday 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "team_members",
        "returnAll": true,
        "where": {
          "conditions": [
            {
              "column": "is_active",
              "operator": "equals",
              "value": "true"
            },
            {
              "column": "coffee_roulette_opted_in",
              "operator": "equals",
              "value": "true"
            }
          ]
        }
      },
      "id": "fetch-participants",
      "name": "Fetch Participants",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL ALFA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const participants = $input.all().map(i => i.json);\n\nif (participants.length < 2) {\n  return {\n    success: false,\n    message: 'Not enough participants for coffee roulette',\n    pairs: []\n  };\n}\n\n// Shuffle array using Fisher-Yates algorithm\nconst shuffled = [...participants];\nfor (let i = shuffled.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];\n}\n\n// Create pairs\nconst pairs = [];\nfor (let i = 0; i < shuffled.length - 1; i += 2) {\n  pairs.push({\n    person1: {\n      name: `${shuffled[i].first_name} ${shuffled[i].last_name}`,\n      slack_id: shuffled[i].slack_id,\n      email: shuffled[i].email\n    },\n    person2: {\n      name: `${shuffled[i + 1].first_name} ${shuffled[i + 1].last_name}`,\n      slack_id: shuffled[i + 1].slack_id,\n      email: shuffled[i + 1].email\n    }\n  });\n}\n\n// Handle odd number - last person pairs with first pair\nif (shuffled.length % 2 === 1) {\n  const lastPerson = shuffled[shuffled.length - 1];\n  pairs[0].person3 = {\n    name: `${lastPerson.first_name} ${lastPerson.last_name}`,\n    slack_id: lastPerson.slack_id,\n    email: lastPerson.email\n  };\n}\n\nreturn {\n  success: true,\n  total_participants: participants.length,\n  pairs_count: pairs.length,\n  pairs: pairs,\n  created_at: new Date().toISOString()\n};"
      },
      "id": "create-pairs",
      "name": "Create Random Pairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "coffee_roulette_history",
        "columns": "pairs_count,pairs_data,created_at"
      },
      "id": "save-pairs",
      "name": "Save Pairs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL ALFA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pairs",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-pairs",
      "name": "Has Pairs?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "channel": "#random",
        "text": "☕ Coffee Roulette",
        "attachments": [],
        "otherOptions": {},
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "☕ Coffee Roulette de la semaine!"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "Voici les paires de cette semaine pour un café virtuel ou IRL! 🎲\n\nPrenez 15-20 minutes pour échanger avec votre binôme cette semaine."
              }
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "{{ $json.pairs.map((p, i) => `*Paire ${i+1}:* ${p.person1.name} ↔️ ${p.person2.name}${p.person3 ? ' ↔️ ' + p.person3.name : ''}`).join('\\n') }}"
              }
            },
            {
              "type": "context",
              "elements": [
                {
                  "type": "mrkdwn",
                  "text": "{{ $json.total_participants }} participants | {{ $json.pairs_count }} paires"
                }
              ]
            }
          ]
        }
      },
      "id": "slack-pairs",
      "name": "Slack Coffee Pairs",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Monday 10AM": {
      "main": [
        [
          {
            "node": "Fetch Participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Participants": {
      "main": [
        [
          {
            "node": "Create Random Pairs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Random Pairs": {
      "main": [
        [
          {
            "node": "Save Pairs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pairs": {
      "main": [
        [
          {
            "node": "Has Pairs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pairs?": {
      "main": [
        [
          {
            "node": "Slack Coffee Pairs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "P3-Low"
    },
    {
      "name": "Team"
    },
    {
      "name": "Culture"
    }
  ]
}
