mcp-server/workflows/iana-rag-update.json
{
  "name": "iana-rag-update",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Parse RAG update request\nconst input = $input.first().json.data || $input.first().json;\n\nif (!input.doc_id) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'doc_id is required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    doc_id: input.doc_id,\n    title: input.title || null,\n    content: input.content || null,\n    category: input.category || null,\n    metadata: input.metadata || null,\n    updated_by: input.updated_by || 'system'\n  }\n}];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.documents SET title = COALESCE($1, title), content = COALESCE($2, content), category = COALESCE($3, category), metadata = COALESCE($4::jsonb, metadata), updated_by = $5, updated_at = NOW() WHERE doc_id = $6 RETURNING doc_id, title, category, updated_at",
        "additionalFields": {
          "queryParameters": "={{ [$json.title, $json.content, $json.category, $json.metadata ? JSON.stringify($json.metadata) : null, $json.updated_by, $json.doc_id] }}"
        },
        "options": {}
      },
      "id": "db-update",
      "name": "DB Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-iana",
          "name": "PostgreSQL IANA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format response\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: result\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Parse Input": {
      "main": [
        [
          {
            "node": "DB Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Update": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "RAG"
    }
  ]
}
