mcp-server/workflows/iana-chat-l1.json
{
  "name": "iana-chat-l1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Parse chat L1 request\nconst input = $input.first().json.data || $input.first().json;\n\nif (!input.query) {\n  return [{\n    json: {\n      success: false,\n      errorCode: 'VALIDATION_ERROR',\n      errorMessage: 'query is required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    query: input.query,\n    user_id: input.user_id || 'system',\n    channel: input.channel || 'api',\n    conversation_id: input.conversation_id || null\n  }\n}];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "workflowId": "iana-l1-handler",
        "options": {}
      },
      "id": "execute-l1",
      "name": "Execute L1 Handler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format response\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: result\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Parse Input": {
      "main": [
        [
          {
            "node": "Execute L1 Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute L1 Handler": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "IANA"
    },
    {
      "name": "L1"
    }
  ]
}
