alfa-dashboard/n8n/workflows/p2/27-gitlab-pipeline-monitor.json
{
  "name": "P2-27 GitLab Pipeline Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitlab/pipeline",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitLab Pipeline Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\n\nconst pipeline = {\n  pipeline_id: payload.object_attributes?.id,\n  project_name: payload.project?.name,\n  project_url: payload.project?.web_url,\n  ref: payload.object_attributes?.ref,\n  status: payload.object_attributes?.status,\n  source: payload.object_attributes?.source,\n  created_at: payload.object_attributes?.created_at,\n  finished_at: payload.object_attributes?.finished_at,\n  duration: payload.object_attributes?.duration,\n  user_name: payload.user?.name,\n  user_email: payload.user?.email,\n  commit_sha: payload.commit?.id?.substring(0, 8),\n  commit_message: payload.commit?.message?.split('\\n')[0]\n};\n\nconst isFailure = ['failed', 'canceled'].includes(pipeline.status);\nconst isSuccess = pipeline.status === 'success';\n\nreturn {\n  ...pipeline,\n  is_failure: isFailure,\n  is_success: isSuccess,\n  received_at: new Date().toISOString()\n};"
      },
      "id": "process-pipeline",
      "name": "Process Pipeline Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "gitlab_pipelines",
        "columns": "pipeline_id,project_name,ref,status,duration,user_name,commit_sha,received_at"
      },
      "id": "save-pipeline",
      "name": "Save Pipeline",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL ALFA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-failure",
              "leftValue": "={{ $json.is_failure }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-failure",
      "name": "Is Failure?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "channel": "#devops",
        "text": "🔴 GitLab Pipeline Failed",
        "attachments": [],
        "otherOptions": {},
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "🔴 Pipeline Failed"
              }
            },
            {
              "type": "section",
              "fields": [
                {
                  "type": "mrkdwn",
                  "text": "*Project:*\n{{ $json.project_name }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Branch:*\n{{ $json.ref }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Status:*\n{{ $json.status }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*By:*\n{{ $json.user_name }}"
                }
              ]
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*Commit:* `{{ $json.commit_sha }}` - {{ $json.commit_message }}"
              }
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "🔗 View Pipeline"
                  },
                  "url": "{{ $json.project_url }}/-/pipelines/{{ $json.pipeline_id }}"
                }
              ]
            }
          ]
        }
      },
      "id": "slack-failure",
      "name": "Slack Pipeline Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1130, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "GitLab Pipeline Webhook": {
      "main": [
        [
          {
            "node": "Process Pipeline Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Pipeline Event": {
      "main": [
        [
          {
            "node": "Save Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Pipeline": {
      "main": [
        [
          {
            "node": "Is Failure?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failure?": {
      "main": [
        [
          {
            "node": "Slack Pipeline Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "P2-Medium"
    },
    {
      "name": "GitLab"
    },
    {
      "name": "CI/CD"
    }
  ]
}
