alfa-dashboard/n8n/workflows/p2/30-sentry-error-aggregator.json
{
  "name": "P2-30 Sentry Error Aggregator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentry/webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Sentry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\n\nconst error = {\n  event_id: payload.event?.event_id || payload.id,\n  project: payload.project_name || payload.project,\n  environment: payload.event?.environment || 'unknown',\n  level: payload.level || payload.event?.level || 'error',\n  title: payload.message || payload.event?.title || 'Unknown Error',\n  culprit: payload.culprit || payload.event?.culprit,\n  url: payload.url || payload.event?.web_url,\n  user_count: payload.event?.userCount || 1,\n  event_count: payload.event?.eventCount || 1,\n  first_seen: payload.event?.firstSeen,\n  last_seen: payload.event?.lastSeen || new Date().toISOString(),\n  platform: payload.event?.platform,\n  release: payload.event?.release?.version || null,\n  tags: payload.event?.tags || {},\n  action: payload.action || 'triggered'\n};\n\nconst isCritical = error.level === 'fatal' || error.level === 'critical';\nconst isNewIssue = payload.action === 'created' || error.event_count === 1;\nconst isRegression = payload.action === 'regression';\n\nreturn {\n  ...error,\n  is_critical: isCritical,\n  is_new_issue: isNewIssue,\n  is_regression: isRegression,\n  needs_alert: isCritical || isRegression,\n  received_at: new Date().toISOString()\n};"
      },
      "id": "process-error",
      "name": "Process Sentry Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "sentry_errors",
        "columns": "event_id,project,environment,level,title,user_count,event_count,action,received_at"
      },
      "id": "save-error",
      "name": "Save Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL ALFA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-alert",
              "leftValue": "={{ $json.needs_alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-alert",
      "name": "Needs Alert?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "🐛 Sentry Error Alert",
        "attachments": [],
        "otherOptions": {},
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "🐛 Sentry Error Alert"
              }
            },
            {
              "type": "section",
              "fields": [
                {
                  "type": "mrkdwn",
                  "text": "*Project:*\n{{ $json.project }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Environment:*\n{{ $json.environment }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Level:*\n{{ $json.level }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Action:*\n{{ $json.action }}"
                }
              ]
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*{{ $json.title }}*\n\nCulprit: `{{ $json.culprit }}`"
              }
            },
            {
              "type": "context",
              "elements": [
                {
                  "type": "mrkdwn",
                  "text": "Users affected: {{ $json.user_count }} | Events: {{ $json.event_count }}"
                }
              ]
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "🔗 View in Sentry"
                  },
                  "url": "{{ $json.url }}"
                }
              ]
            }
          ]
        }
      },
      "id": "slack-error",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1130, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Sentry Webhook": {
      "main": [
        [
          {
            "node": "Process Sentry Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sentry Error": {
      "main": [
        [
          {
            "node": "Save Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Error": {
      "main": [
        [
          {
            "node": "Needs Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Alert?": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "P2-Medium"
    },
    {
      "name": "Sentry"
    },
    {
      "name": "Errors"
    }
  ]
}
